.pluginContainer {
    display: flex;
    gap: var(--spacers-dp4);
    min-inline-size: 0;
    inline-size: 100%;
    margin-block-start: 0;
    margin-block-end: var(--spacers-dp4);
    margin-inline-start: var(--spacers-dp4);
    margin-inline-end: var(--spacers-dp4);
}
.visualizationContainer {
    display: flex;
    flex-direction: column;
    max-inline-size: 100%;
}

/* Table header cells in various sizes */
.dataTable .headerCell.dimensionModalHandler {
    cursor: pointer;
}
.dataTable .headerCell.fontSizeLarge {
    font-size: 14px;
    line-height: 15px;
}
.dataTable .headerCell.fontSizeNormal {
    font-size: 12px;
    line-height: 13px;
}
.dataTable .headerCell.fontSizeSmall {
    font-size: 11px;
    line-height: 12px;
}
.dataTable .headerCell.sizeComfortable {
    padding-block-start: 8px;
    padding-block-end: 6px;
    padding-inline-start: 8px;
    padding-inline-end: 4px;
}
.dataTable .headerCell.sizeNormal {
    padding-block-start: 4px;
    padding-block-end: 2px;
    padding-inline-start: 6px;
    padding-inline-end: 4px;
}
.dataTable .headerCell.sizeCompact {
    padding-block-start: 3px;
    padding-block-end: 1px;
    padding-inline-start: 6px;
    padding-inline-end: 2px;
}

/* Table body cells in various sizes */
.dataTable .cell.fontSizeLarge {
    font-size: 14px;
    line-height: 15px;
}
.dataTable .cell.fontSizeNormal {
    font-size: 12px;
    line-height: 13px;
}
.dataTable .cell.fontSizeSmall {
    font-size: 11px;
    line-height: 12px;
}
.dataTable .cell.nowrap {
    white-space: nowrap;
}
.dataTable .cell.sizeComfortable {
    padding-block-start: 10px;
    padding-block-end: 8px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
}
.dataTable .cell.sizeNormal {
    padding-block-start: 7px;
    padding-block-end: 5px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
}
.dataTable .cell.sizeCompact {
    padding-block-start: 6px;
    padding-block-end: 4px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
}
