.container {
    position: relative;
    inline-size: 100%;
    block-size: 100%;
    display: flex;
}
.modal {
    max-block-size: calc(-285px + 100vh);
}

.chartWrapper {
    display: flex;
    flex-grow: 1;
}

.legendKey {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 8px;
    margin-inline-end: 8px;
    inline-size: 180px;
}
.legendKeyToggle {
    margin-block-start: 1px;
    margin-block-end: 0;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
}
.wrapper {
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    overflow: auto;
    border: 1px solid var(--colors-grey400);
}
.buttonMargin {
    margin-block-start: 34px;
}

@media print {
    .legendKeyToggle {
        display: none;
    }
    .buttonMargin {
        margin-block-start: 0;
    }
}
