.divider {
    margin-block-start: var(--spacers-dp16);
    margin-block-end: var(--spacers-dp16);
    margin-inline-start: 22px;
    margin-inline-end: 22px;
    border-block-end: 1px solid var(--colors-grey300);
}
