.nameColumn {
    inline-size: 45%;
}

.typeColumn {
    inline-size: 25%;
}

.tableHead {
    background-color: var(--colors-grey200);
}

.tableHead .tableCell {
    padding: var(--spacers-dp8);
    line-height: normal;
    block-size: auto;
    vertical-align: unset;
}

.tableBody .itemName {
    padding-inline-start: var(--spacers-dp8);
    padding-inline-end: var(--spacers-dp8);
}

.typeContainer {
    display: inline-block;
}

.typeContainer:not(:last-child) {
    margin-inline-end: var(--spacers-dp16);
}

.visIcon {
    block-size: 16px;
}

.visIcon svg {
    block-size: 16px;
}

.axisIcon {
    display: flex;
    justify-content: center;
    padding-block-start: var(--spacers-dp4);
}

.errorContainer {
    min-block-size: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.errorIcon {
    inline-size: 136px;
    block-size: 136px;
    margin-block-start: 0;
    margin-block-end: var(--spacers-dp24);
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.errorTitle {
    font-weight: 500;
    font-size: 20px;
    color: var(--colors-grey800);
    letter-spacing: 0.15px;
    line-height: 24px;
    inline-size: 360px;
    margin-block-start: 0;
    margin-block-end: var(--spacers-dp12);
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.errorDescription {
    font-weight: 400;
    font-size: 14px;
    color: var(--colors-grey700);
    line-height: 19px;
    inline-size: 360px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
