.container {
    flex-wrap: wrap;
}

.container,
.buttonStrip {
    display: flex;
    position: relative;
    margin-block-start: var(--spacers-dp4);
    margin-block-end: var(--spacers-dp4);
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.container,
.buttonStrip > *:not(:last-child) {
    margin-inline-end: var(--spacers-dp4);
}

.fontSizeSelect,
.textAlignSelect {
    min-inline-size: 180px;
    margin-inline-end: var(--spacers-dp8);
}

.textColorLabel {
    block-size: 28px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid var(--colors-grey400);
    border-radius: 4px;
    cursor: pointer;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 1px;
    padding-inline-end: 1px;
}

.textColorInput {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.textColorIcon {
    margin-block-start: 1px;
}

.disabled {
    background-color: var(--colors-grey100);
    box-shadow: none;
    color: var(--colors-grey600);
    fill: var(--colors-grey600);
    border-color: var(--colors-grey400);
    cursor: not-allowed;
}
