.tabs {
    inline-size: 200px;
    position: absolute;
    inset-block: 136px 84px; /* modal title + horizontal tab bar height */ /* modal actions section height */
    z-index: 1;
}

.content {
    margin-inline-start: 200px;
}
