.dimension-item {
    display: flex;
    margin: 2px;
}

.dimension-item.selected {
    z-index: 10000;
}

.data-dimension-list {
    height: 262px;
}

.dynamic-dimension-list {
    height: 372px;
}

.data-dimension-list,
.dynamic-dimension-list {
    overflow-y: auto;
}

.data-dimension-dialog,
.dynamic-dimension-dialog {
    border: 1px solid #e0e0e0;
}

.select-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 0px 5px;
    max-width: 60px;
}

.select-buttons button:nth-child(1) {
    margin: 0 auto 35px;
}

.select-buttons button:nth-child(2) {
    margin: 0px auto;
}

.unselected-item-label,
.selected-item-label {
    font-size: 14px;
}

.unselected-item-label {
    padding: 2px 5px 2px 2px;
}

.selected-item-label {
    padding: 2px;
}

.unselected-list-item,
.selected-list-item {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
}

.unselected-list-item:hover {
    background-color: #e0e0e0;
}

.selected-list-item {
    background-color: #b2dfdb;
}

.selected-list-item:hover {
    background-color: #86c4bf;
}
