.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.menuSectionTitle {
    font-size: 14px;
    font-weight: 500;
    padding: var(--spacers-dp8) var(--spacers-dp12);
}
