body {
    margin: 0;
    padding: 0;
}

.headerbar {
    grid-area: headerbar;
    background-color: #2c6593 !important;
    color: white;
    padding: 14px;
}
.visualization-type-selector {
    grid-area: charttype;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.menu-bar {
    grid-area: menubar;
    border-bottom: 1px solid #aaa;
}
.dimensions {
    grid-area: dimensions;
    border-right: 1px solid #aaa;
}
.chart-layout {
    grid-area: chartlayout;
    display: flex;
}
.interpretations {
    grid-area: interpretations;
    border-left: 1px solid #aaa;
}
.canvas {
    grid-area: canvas;
    position: relative;
}
.title-bar {
    grid-area: titlebar;
}

.app * {
    outline: none;
}

.app {
    display: grid;
    grid-template-columns: 262px 1fr min-content;
    grid-template-rows: 0 41px 94px 44px auto;
    grid-template-areas:
        'headerbar headerbar headerbar'
        'charttype menubar menubar'
        'dimensions chartlayout interpretations'
        'dimensions titlebar interpretations'
        'dimensions canvas interpretations';
}
.app > div {
    background-color: #f4f6f8;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
