body {
    margin: 0;
    padding: 0;
}

.headerbar {
    grid-area: headerbar;
}
.visualization-type-selector {
    grid-area: charttype;
}
.menu-bar {
    grid-area: menubar;
}
.dimensions {
    grid-area: dimensions;
}
.chart-layout {
    grid-area: chartlayout;
}
.interpretations {
    grid-area: interpretations;
}
.canvas {
    grid-area: canvas;
}

.app * {
    outline: none;
}

.app {
    display: grid;
    font-family: 'roboto';
    background-color: #aaa;
    grid-gap: 1px;
    grid-template-columns: 250px auto 385px;
    grid-template-areas:
        'headerbar headerbar headerbar'
        'charttype menubar menubar'
        'dimensions chartlayout interpretations'
        'dimensions canvas interpretations';
}
.app > div {
    background-color: #f1f1f1;
}
