/* App */

.app {
    height: 100vh;
    background-color: #f4f6f8;
    overflow: hidden;
}
.app * {
    outline: none;
}

/* Flex */

.flex-ct {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

/* Headerbar */

.section-headerbar {
    height: 48px;
}

/* Toolbar */

.section-toolbar {
    height: 39px;
}

.toolbar-type {
    width: 260px;
    border-right: 1px solid #e0e2e4;
    border-bottom: 1px solid #e0e2e4;
}

.toolbar-menubar {
    background-color: #ddd;
}

/* Main */

.main-left {
    min-width: 260px;
    border-right: 1px solid #e0e2e4;
}

.main-right {
    background-color: #f4f6f8;
    overflow-y: auto;
}

/* Main center */

.main-center-titlebar {
    height: 34px;
}

.main-center-canvas {
    overflow: hidden;
}
