.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f8;
    padding: var(--spacers-dp8) 0 0 var(--spacers-dp8);
    overflow: hidden;
}

.container > div:first-child {
    margin-bottom: var(--spacers-dp16);
}
