.container {
    position: relative;
    flex: 1 1 0%;
    min-height: 30vh;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-top: 0px;
    padding-right: 8px;
}

.list {
    margin: 0;
    padding: 0;
}

.header {
    text-transform: uppercase;
    font-size: 11px;
    color: var(--colors-grey700);
    margin: 5px 0;
    letter-spacing: 0.3px;
}

.section:not(:last-child) {
    margin-bottom: var(--spacers-dp24);
}
