.menuBar {
    background: var(--colors-white);
    display: flex;
    align-items: center;
    padding: 0 var(--spacers-dp8);
    height: 38px;
}
.updateButton {
    margin-right: var(--spacers-dp8);
}
.grow {
    flex: 1 1 0%;
}
