.table label {
    justify-content: center;
}
.nameColumn {
    width: 70%;
}
.axisColumn {
    width: 15%;
}
.coloredColumn {
    background-color: var(--colors-grey100);
}
.centered {
    text-align: center;
}
.errorContainer {
    min-height: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.errorIcon {
    width: 136px;
    height: 136px;
    margin: 0 auto var(--spacers-dp24);
}
.errorTitle {
    font-weight: 500;
    font-size: 20px;
    color: var(--colors-grey800);
    letter-spacing: 0.15px;
    line-height: 24px;
    width: 360px;
    margin: 0 auto var(--spacers-dp12);
}
.errorDescription {
    font-weight: 400;
    font-size: 14px;
    color: var(--colors-grey700);
    line-height: 19px;
    width: 360px;
    margin: 0 auto;
}
