.container {
    display: flex;
    margin: var(--spacers-dp8) 0;
}

.container > *:not(:last-child) {
    margin-right: var(--spacers-dp8);
}

.fontSizeSelect,
.textAlignSelect {
    min-width: 180px;
}

.textColorLabel {
    height: 28px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid var(--colors-grey400);
    border-radius: 4px;
    cursor: pointer;
    padding: 0 1px;
}

.textColorInput {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.textColorIcon {
    margin-top: 1px;
}

/* TODO: temporary fix, remove this once https://jira.dhis2.org/browse/TECH-392 is implemented in @dhis2/ui */
.buttonActive {
    background: var(--colors-grey700) !important;
}

.buttonActive path {
    fill: var(--colors-white);
}

.disabled {
    background-color: var(--colors-grey100);
    box-shadow: none;
    color: var(--colors-grey600);
    fill: var(--colors-grey600);
    border-color: var(--colors-grey400);
    cursor: not-allowed;
}
