.container {
    position: relative;
    flex: 1 1 0%;
    min-height: 30vh;
}

.wrapper {
    position: absolute;
    width: 100%;
    overflow: auto;
    margin-top: 0px;
    padding: var(--spacers-dp8);
    background: var(--colors-white);
    border-top: 1px solid var(--colors-grey300);
    border-bottom: 1px solid var(--colors-grey300);
}

.list {
    margin: 0;
    padding: 0;
}

.header {
    text-transform: uppercase;
    font-size: 11px;
    color: var(--colors-grey600);
    margin: 0 0 var(--spacers-dp8) 0;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.section:not(:last-child) {
    margin-bottom: var(--spacers-dp24);
}
