/*
This keeps the dimension item clone from causing 
a ripple effect in the Dimension list during drag
*/

.notDragging {
    transform: none !important;
}

.dragging {
    background-color: #e8edf2;
    border-radius: 2px;
}
