.container {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.filter {
    padding-block-start: 6px;
    padding-block-end: 8px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    background: var(--colors-white);
}

.filter input {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    border-color: var(--colors-grey300);
    height: 30px;
}

.filter input::placeholder {
    color: var(--colors-grey600);
}
