.container {
    position: relative;
    flex: 1 1 0%;
    min-block-size: 30vh;
}

.wrapper {
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    overflow: auto;
    margin-block-start: 0px;
    padding: var(--spacers-dp8);
    background: var(--colors-white);
    border-block-start: 1px solid var(--colors-grey300);
    border-block-end: 1px solid var(--colors-grey300);
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header {
    text-transform: uppercase;
    font-size: 11px;
    color: var(--colors-grey600);
    margin-block-start: 0;
    margin-block-end: var(--spacers-dp8);
    margin-inline-start: 0;
    margin-inline-end: 0;
    letter-spacing: 0.3px;
    font-weight: 400;
}

.section:not(:last-child) {
    margin-block-end: var(--spacers-dp24);
}
