/*
This keeps the dimension item clone from causing
a ripple effect in the Dimension list during drag
*/

:global(.item).notDragging {
    transform: none !important;
}

:global(.item).dragging,
:global(.item).active {
    background-color: var(--colors-grey100);
    border-color: var(--colors-grey400);
}

:global(.item).assignedCategories {
    cursor: grab;
}
:global(.item.selected).assignedCategories {
    cursor: default;
}
