.container {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--colors-grey100);
    border-inline-end: 1px solid var(--colors-grey400);
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.03);
    padding: 0;
    overflow: hidden;
}

.filter {
    padding-block-start: var(--spacers-dp8);
    padding-block-end: 0;
    padding-inline-start: var(--spacers-dp8);
    padding-inline-end: var(--spacers-dp8);
    background: var(--colors-white);
}
