.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--colors-grey200);
    padding: var(--spacers-dp8) 0 0 var(--spacers-dp8);
    overflow: hidden;
}

.container > div:first-child {
    margin-bottom: var(--spacers-dp16);
    padding-right: var(--spacers-dp8);
}
