.dimension-item {
    display: flex;
    margin: 2px;
}

.dimension-item.selected {
    z-index: 10000;
}

.data-dimension-dialog {
    height: 389px;
}

.dynamic-dimension-dialog {
    height: 495px;
}

.data-dimension-list {
    height: 351px;
}

.dynamic-dimension-list {
    height: 457px;
}

.data-dimension-dialog,
.dynamic-dimension-dialog {
    border: 1px solid #e0e0e0;
}

.data-dimension-list,
.dynamic-dimension-list {
    user-select: none;
    list-style: none;
    overflow-y: auto;
    width: 418px;
    border-bottom: 0px;
    padding-left: 0px;
    margin: 0px;
}

.data-dimension-arrow-forward-button,
.dynamic-dimension-arrow-forward-button,
.data-dimension-arrow-back-button,
.dynamic-dimension-arrow-back-button {
    outline: none;
    min-width: 39px;
    padding: 0px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 2px 5px #b1b1b1;
}

.data-dimension-arrow-forward-button,
.dynamic-dimension-arrow-forward-button {
    position: absolute;
    top: 277px;
    left: 452px;
}

.data-dimension-arrow-back-button,
.dynamic-dimension-arrow-back-button {
    position: absolute;
    top: 347px;
    left: 452px;
}

.unselected-item-label {
    font-size: 14px;
    padding: 2px 5px 2px 2px;
}

.selected-item-label {
    font-size: 14px;
    padding: 2px;
}

.unselected-list-item,
.selected-list-item {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
}

.unselected-list-item:hover {
    background-color: #e0e0e0;
}

.selected-list-item {
    background-color: #b2dfdb;
}

.ghost {
    transition: opacity 0.2s ease;
    opacity: 0.2;
}

.selected-list-item:hover {
    background-color: #86c4bf;
}

.dimension-item:focus {
    outline: none;
}
