.iconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    box-sizing: border-box;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    vertical-align: middle;
    border-radius: 0;
    inline-size: 20px;
    block-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 2px;
    margin-inline-end: 0px;
    color: var(--colors-grey700);
}

.iconButton:focus {
    outline: none;
}

.iconButton:hover {
    background-color: rgba(0, 0, 0, 0.09);
    color: var(--colors-grey900);
}
