.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    overflow-y: auto;
    color: var(--colors-black);
    background-color: var(--colors-grey050);
    display: flex;
    min-width: 640px;
    min-height: 480px;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
    color: black;
}
.icon {
    width: 96px;
    height: 96px;
    color: var(--colors-grey500);
    margin-bottom: var(--spacers-dp24);
}
.message {
    font-size: 24px;
    margin-bottom: var(--spacers-dp24);
}
.link {
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: var(--spacers-dp24);
}
.drawerToggle {
    font-size: 12px;
    color: var(--colors-grey700);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: var(--spacers-dp12);
}
.drawerVisible {
    padding: var(--spacers-dp8);
    display: block;
    height: 150px;
    width: 500px;
    overflow: auto;
    overflow-y: auto;
    border: 1px solid var(--colors-grey700);
    text-align: left;
}
.drawerHidden {
    display: none;
}
.errorIntro {
    font-size: 12px;
    line-height: 1.2;
    color: var(--colors-grey700);
    margin-bottom: var(--spacers-dp8);
    font-family: 'Menlo, Courier, monospace !important';
}
.errorDetails {
    font-size: 12px;
    line-height: 1.2;
    color: red;
    font-family: 'Menlo, Courier, monospace !important';
}
