/* App */

.app {
    block-size: 100%;
    background-color: var(--colors-grey300);
    overflow: hidden;
}

.app * {
    outline: none;
}

/* Flex */

.flexCt {
    display: flex;
}

.flexDirCol {
    flex-direction: column;
}

.flexGrow1 {
    flex-grow: 1;
}

.flexBasis0 {
    flex-basis: 0%;
}

/* Headerbar */

.sectionHeaderbar {
    block-size: 48px;
}

/* Main */
.sectionMain {
    overflow: hidden;
}

.mainLeft {
    min-inline-size: 260px;
}

/* Main center */

.mainCenterCanvas {
    display: flex;
    justify-content: center;
    block-size: 100%;
    overflow: hidden;
    position: relative;
}

.mainCenterLayout {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

.mainRight {
    width: 380px;
    background-color: var(--colors-grey100);
    border-inline-start: 1px solid var(--colors-grey400);
    box-shadow: 1px 0 -2px 0 rgba(0, 0, 0, 0.03);
    overflow-y: auto;
    overflow-x: hidden;
}

.mainRight.hidden {
    width: 0;
}
