.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 110;
}

.button {
    padding: 7px var(--spacers-dp8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--colors-white);
    cursor: pointer;
}

.button > span {
    font-size: 14px;
}

.cardContainer {
    margin: 1px 0;
    max-width: 600px;
    min-height: 200px;
}

.listContainer {
    height: 85vh;
    overflow: auto;
}

.listItem {
    height: 120px;
    width: 126px;
    margin: var(--spacers-dp8);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: var(--spacers-dp8);
    float: left;
    cursor: pointer;
}

.listItem:hover {
    background-color: #fafafa;
}

.listItemActive {
    background-color: #d9eceb;
}

.listItemDisabled {
    opacity: 0.5;
}

.listItemDisabled:hover {
    background-color: transparent;
}

.listItemSvg {
    width: var(--spacers-dp48);
    height: var(--spacers-dp48);
}

.listItemIcon {
    margin: 0 auto;
    margin-bottom: 15px;
}

.listItemText {
    font-size: 14px;
    flex: none;
    padding: 0;
    white-space: normal;
    text-align: center;
}
