.chart-type-selector {
    grid-area: charttype;
    max-width: 300px;
    min-width: 300px;
}
.menu-bar {
    grid-area: menubar;
}
.dimensions {
    grid-area: dimensions;
    max-width: 300px;
    min-width: 300px;
}
.canvas {
    grid-area: canvas;
}

.app {
    display: grid;
    grid-template-areas:
        'charttype menubar menubar menubar menubar'
        'dimensions canvas canvas canvas canvas';
    grid-gap: 5px;
    padding: 5px;
    font-family: 'roboto';
}
