name: 'dhis2: nightly'

# This workflow runs the e2e tests on the default branch against dev at 3:20am M-F

on:
    schedule:
        - cron: '20 3 * * 1-5'

concurrency:
    group: ${{ github.workflow}}-${{ github.ref }}
    cancel-in-progress: true

defaults:
    run:
        shell: bash

jobs:
    call-workflow-e2e-dev:
        uses: ./.github/workflows/e2e-dev.yml
        secrets:
            baseurl: ${{ secrets.CYPRESS_DHIS2_BASE_URL_DEV }}
            username: ${{ secrets.CYPRESS_DHIS2_USERNAME }}
            password: ${{ secrets.CYPRESS_DHIS2_PASSWORD }}
            recordkey: ${{ secrets.CYPRESS_RECORD_KEY }}

    send-slack-message:
        runs-on: ubuntu-latest
        needs: call-workflow-e2e-dev
        if: |
            always() &&
            contains(needs.call-workflow-e2e-dev.result, 'failure')

        steps:
            - name: Send failure message to analytics-internal-kfmt slack channel
              id: slack
              uses: slackapi/slack-github-action@v1.23.0
              with:
                  channel-id: ${{ secrets.SLACK_CHANNEL_ID }}
                  slack-message: ':x: Data-visualizer-app e2e nightly run <https://cloud.cypress.io/projects/sojh88/runs?branches=[{"label":"dev","suggested":false,"value":"dev"}]|failed>'
              env:
                  SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
