name: 'dhis2: verify (lib)'

on: push

concurrency:
    group: ${{ github.workflow}}-${{ github.ref }}
    cancel-in-progress: true

env:
    GIT_AUTHOR_NAME: '@dhis2-bot'
    GIT_AUTHOR_EMAIL: 'apps@dhis2.org'
    GIT_COMMITTER_NAME: '@dhis2-bot'
    GIT_COMMITTER_EMAIL: 'apps@dhis2.org'
    NPM_TOKEN: ${{secrets.DHIS2_BOT_NPM_TOKEN}}
    GH_TOKEN: ${{secrets.DHIS2_BOT_GITHUB_TOKEN}}
    CI: true
    D2_VERBOSE: true

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: c-hive/gha-yarn-cache@v1
            - run: yarn install --frozen-lockfile

            - name: Build
              run: yarn build

            - uses: actions/upload-artifact@v2
              with:
                  name: lib-build
                  path: |
                      **/build
                      !**/node_modules
                  retention-days: 1

    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/download-artifact@v2
              with:
                  name: lib-build

            - uses: c-hive/gha-yarn-cache@v1
            - run: yarn install --frozen-lockfile

            - name: Lint
              run: yarn lint

    test:
        runs-on: ubuntu-latest
        needs: [build]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/download-artifact@v2
              with:
                  name: lib-build

            - uses: c-hive/gha-yarn-cache@v1
            - run: yarn install --frozen-lockfile

            - name: Test
              run: yarn test

    e2e:
        runs-on: ubuntu-latest
        if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
        needs: [build]

        strategy:
            fail-fast: false
            matrix:
                containers: [1, 2, 3, 4]

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - uses: actions/setup-node@v1
              with:
                  node-version: 12.x

            - uses: actions/download-artifact@v2
              with:
                  name: lib-build

            - name: End-to-End tests
              uses: cypress-io/github-action@v2
              with:
                  start: ${{ env.SERVER_START_CMD }}
                  wait-on: ${{ env.SERVER_URL }}
                  wait-on-timeout: 300
                  group: 'e2e'
                  record: true
                  parallel: true
              env:
                  SERVER_START_CMD: 'yarn cypress:start'
                  SERVER_URL: 'http://localhost:3000'
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  REACT_APP_DHIS2_BASE_URL: ${{ secrets.REACT_APP_DHIS2_BASE_URL }}
                  cypress_dhis2_base_url: ${{ secrets.REACT_APP_DHIS2_BASE_URL }}
                  cypress_dhis2_username: ${{ secrets.DHIS2_USERNAME }}
                  cypress_dhis2_password: ${{ secrets.DHIS_PASSWORD }}

    # publish-plugin:
    #     runs-on: ubuntu-latest
    #     needs: [build, lint, test, e2e]
    #     if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
    #     steps:
    #         - uses: actions/checkout@v2
    #           with:
    #               token: ${{env.GH_TOKEN}}

    #         - uses: actions/setup-node@v1
    #           with:
    #               node-version: 12.x

    #         - uses: actions/download-artifact@v2
    #           with:
    #               name: lib-build

    #         - name: Publish to NPM
    #           run: npx @dhis2/cli-utils release --publish npm

    # publish-app:
    #     runs-on: ubuntu-latest
    #     needs: [build, lint, test, e2e]
    #     if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
    #     steps:
    #         - uses: actions/checkout@v2
    #           with:
    #               token: ${{env.GH_TOKEN}}

    #         - uses: actions/setup-node@v1
    #           with:
    #               node-version: 12.x

    #         - uses: actions/download-artifact@v2
    #           with:
    #               name: app-build

    #         - uses: dhis2/deploy-build@master
    #           with:
    #               cwd: ./packages/app
    #               build-dir: build/app
    #               github-token: ${{ env.GH_TOKEN }}

    # release:
    #     runs-on: ubuntu-latest
    #     needs: [publish]
    #     if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
    #     steps:
    #         - uses: actions/checkout@v2
    #           with:
    #               token: ${{env.GH_TOKEN}}

    #         - uses: actions/setup-node@v1
    #           with:
    #               node-version: 12.x

    #         - name: Publish release to GitHub
    #           run: npx @dhis2/cli-utils release
